/* CSS Document */
/* OAFA Dark, Light, One by Dane Aleksander, based on Twenty Thirteen by the Wordpress team. */

/*******************/
/* - *//* resets */
/* 1 *//* fonts */
/* 2 *//* frameworks */
/* 3 *//* .classes */
/* 4 *//* #colors */
/* 5 *//* #tags */
/* 8 *//* -wordpress */
/* 9 *//* -woocommerce */
/* 0 *//* @queries */
/*****************/

* {
  border:0;
  margin:0;
  padding:0;
}
html {
  -webkit-text-size-adjust:62.5%;
     -moz-text-size-adjust:62.5%;
      -ms-text-size-adjust:62.5%;
       -o-text-size-adjust:62.5%;
  font-size:62.5%;
  size:62.5%;
  cursor:default;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  cursor:inherit;
}
a {
  cursor:pointer;
  text-decoration:overline;
}
img {
  -ms-interpolation-mode:bicubic;
  border:0;
  height:auto;
  max-width:100%;
  width:100%;
  vertical-align:middle;
}

/******************/
/* 1 *//* fonts */

body {
  font-family: 'Trocchi';
  font-size:1.8rem;
  font-style:normal;
  height:100%;
  width:100%;
  overflow-x:hidden;
  letter-spacing: 0.1em;
  text-align:center;
}
em {
  font-style:italic;
}
h1 {
  font-size:6em;
}
h3 {
  font-size:2em;
}
p {
  font-size: 1.5em;
}
.title {
  text-transform:uppercase;
}
.letterhead {
  padding-top:12em;
}
.linebreak {
  padding-top:1.5em;
}
.lineend {
  padding-bottom:1.5em;
}
.underscore {
  text-decoration:underline;
}
.overscore {
  text-decoration:overline;
}
.score {
  text-decoration:line-through;
}
.text-center {
  text-align:center;
}
.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}
.center {
  display:block;
  margin:0 auto;
  position:relative;
}
.left {
  display:inline;
  float:left;
}
.right {
  display:inline;
  float:right;
}
.clear {
  color:inherit;
}
br.clear {
  clear: both;
}

/*********************/
/* 3.2 *//* blocks */

.half {
  width:50%;
}
.three-quarter {
  width:75%;
}
.quarter {
  width:25%;
}
.two-third {
  width:64rem;
  width:calc(200% /3);
}
.third {
  width:32rem;
  width:calc(100% /3);
}

/*******************/
/* 4 *//* colors */

html {
  background-color:#222;
}
body {
  color:#DADADA;
}
#hex-CCCCFF a {
  color:#FCFCFC;
}

.fr { color:#BABABA; }
.trim { border:#222 thin solid; }

html article#hex-CCCCFF {
  background:#222;
}
#hex-CCCCFF h1,
#hex-CCCCFF h3,
#hex-CCCCFF h2.color,
#hex-CCCCFF h4.color,
#hex-CCCCFF p.color,
#hex-CCCCFF a:hover,
#hex-CCCCFF font.color {
  color:#CCCCFF;
}
#hex-CCCCFF div.color {
  background:#CCCCFF;
  color:#222;
}
#hex-CCCCFF div.color h1,
#hex-CCCCFF div.color h3 {
  color:#222;
}

::-webkit-scrollbar {
  width:0.5em;
  height: 0.5em;
}
::-webkit-scrollbar-track {
  background:#222;
}
::-webkit-scrollbar-thumb {
  background:#CCCCFF;
}
